:root {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}  

.center {
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #005fad;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.roboto-body {
  font-size: 1.4rem;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin-bottom: auto;
}

.roboto-subhead {
  font-size: 1.6rem;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.app {
  margin: 0;
  background-color: #251F08;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.results-container {
  background-color: #FFFFFF;
  min-width: 70%;
  margin: 50px;
  padding-bottom: 20px;
}

.upload-container {
  background-color: #FFFFFF;
  padding: 50px;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 0 72px;
}

main {
  padding-left: 70px;
}

.hero {
  text-align: left;
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 2rem;
}

.upload-hero {
  text-align: center;
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 30px 40px 50px 50px;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;

}